
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
header{
    
    padding: 16px 0;
    display: flex;
    justify-content: center;
    
}

header button {
    margin-left: 16px;
}

form {
    padding: 24px 0 ;
    text-align: center;
    display: block;
}


input, button {
    padding: 8px;
}


button {
    cursor: pointer;
    font-weight: bold;

}

ul {
    text-align: center;
}

ul li::before {
    content: "•";
}



ul li a{
    text-decoration: none;
    cursor: pointer;
    
}

.concluido {
    text-decoration: line-through;
}

